/* Variables */

:root {
  --links-colour: black;
  --paddding-navbar: 30px;
}


body {
  width: 100%;
  height: 100%;
}

a {
  color: var(--links-colour);
  text-decoration: none;
}

a:visited {
  color: var(--links-colour);
}

.main-nav {
  background-color: #585858;
  padding-top: var(--paddding-navbar);
  padding-bottom: var(--paddding-navbar);
}

.main-nav > ul > li:first-child > a {
  background-color: #838383;
  border-radius: 5px;
}

.main-nav > ul > li > a {
  color: white;
}

.main-nav > ul > li > a:hover {
  background-color: lightblue;
}

.dropdown-content {
  background-color: lightgrey;
}

.dropdown-content > ul > li > a:hover {
  color: white;
}

header {
  height: 60vh;
  background-image: url(../img/turismos/civic-wallpaper.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
}

main {
  height: 100vh;
  background: #faebe3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

#main-title {
  font-size: 70px;
  font-family: 'Teko', 'Arial';
  color: #c3db9b;
  text-shadow: 2px 2px 5px #536637;
}

#images {
  margin: 3vh 4vw;
  padding: 20px;
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px 20px;

  z-index: 1;
}

#images > img {
  width: 100%;
  height: 100%;
  transition: ease-out 300ms;
  z-index: 1;
  border-radius: 2px;
}

#images > img:hover {
  transform: scale(1.25);
  transition: ease-out 500ms;
  z-index: 2;
}

#big-image {
  display: none;
}

.page-footer {
  background-color: #e1b7a0;
}


@media only screen and (max-width: 800px) {
  header {
    background-attachment: scroll;
  }
}

@media only screen and (max-width: 600px) {

  .main-nav > ul > li > a:first-child {
    background-color: transparent;
  }

  .dropdown-content {
    background-color: transparent;
  }

  .dropdown-content > ul > li > a {
    color: white;
  }
}