/* Variables */

:root {
  --links-colour: black;
  --paddding-navbar: 30px;
}


/* CSS */

body {
  width: 100%;
  height: 100%;
}

a {
  color: var(--links-colour);
  text-decoration: none;
}

a:visited {
  color: var(--links-colour);
}

#main-header {
  background: linear-gradient(0deg, rgb(88, 88, 88) 0%, 
      rgb(17, 203, 194) 98%);
}

#main-nav {
  background-color: #585858;
  padding-top: var(--paddding-navbar);
  padding-bottom: var(--paddding-navbar);
}

#main-nav > ul > li:first-child > a {
  background-color: #838383;
  border-radius: 5px;
}

#main-nav > ul > li > a {
  color: white;
}

#main-nav > ul > li > a:hover {
  /* background-color: lightblue; Another nice color */
  background-color: rgba(17, 203, 194, 0.273);
}

.dropdown-content {
  background-color: lightgrey;
}

.dropdown-content > ul > li > a:hover {
  color: white;
}

header {
  height: 60vh;
  background-image: url(../img/turismos/civic-wallpaper.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > a {
  word-wrap: break-word;
  font-size: 2em;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(4, 199, 134) !important;
  text-align: center;
}

main {
  height: fit-content;
  background: #faebe3;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#main-title {
  margin: 100px 0 20px 0;
  text-align: center;
  font-size: 70px;
  font-family: 'Teko', 'Arial';
  color: #c3db9b;
  text-shadow: 2px 2px 5px #536637;
}

#images {
  margin: 5vh 4vw;
  width: fit-content;
  height: fit-content;
  display: grid;
  gap: 20px 20px;

  z-index: 1;
}

#images > img {
  width: 100%;
  height: 100%;
  transition: ease-out 300ms;
  border-radius: 2px;
  box-shadow: 2px 2px 4px black;
  z-index: 1;
}

#big-image-div {
  display: none;
  width: fit-content;
  height: fit-content;
  padding: 1vh 1vw;
  position: absolute;
  background-color: white;
  box-shadow: 2px 2px 8px black, -2px -2px 8px black;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 0 5px;
  
  z-index: 2;
}

#closeBtn {
  width: 40px;
  grid-column: 3 / 4;
  justify-self: end;
}

#leftArrow, #rightArrow {
  width: 40px;
  justify-self: center;
  align-self: center;
  cursor: pointer;
}

#big-image {
  width: 70vw;
  grid-column: 2 / 3;
}

#description {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: normal;
  text-align: center;
  justify-self: center;
  align-self: center;
  margin: 2vh 0;
  grid-column: 2 / 3;
}

#closeBtn:hover {
  cursor: pointer;
}

#sources {
  width: fit-content;
  display: grid;
  align-self: start;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 10px 20px;
  margin: 1vh 0 5vh 4vw;
}

#src-title {
  grid-column: span 2;
  text-align: left;
  font-size: 50px;
  font-family: 'Teko', 'Arial';
  color: #c3db9b;
  text-shadow: 2px 2px 5px #536637;
}

#src-button {
  display: none;
}

#box {
  border: 2px solid black;
  padding: 2vh 2vw;
  width: 28vw;
  height: 28vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 3px #8e7e76, -2px -2px 3px #8e7e76;
  border-radius: 5px;
}

#image-selected {
  width: 100%;
  border-radius: 2px;
  -webkit-user-drag: none;
}

#show-info {
  width: 50vw;
  background-color: #dcdcdc;
  border-radius: 15px;
  padding: 3vh 3vw;
}

#info-list > li {
  color: rgb(11, 0, 53);
  margin-bottom: 2vh;
  word-wrap: break-word;
}

#page-footer {
  background-color: #e1b7a0;
}



@media only screen and (min-width: 600px) {
  #images > img:hover {
    transform: scale(1.15);
    transition: ease-out 500ms;
    box-shadow: 0px 0px 30px #000000;
    cursor: pointer;
    z-index: 2;
  }

  #show-info {
    display: block;
  }
}

@media only screen and (min-width: 1000px) {
  #images {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  #images > img:hover {
    transform: scale(1.25);
  }
}

@media only screen and (max-width: 1000px) {
  #images {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  #images > img {
    grid-column: span 2;
  }

  #images > img:nth-last-child(2) {
    grid-column: 2 / 4;
  }
}

@media only screen and (max-width: 800px) {
  header {
    background-attachment: scroll;
  }

  #images {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  #images > img {
    grid-column: span 1;
  }

  #images > img:nth-last-child(2) {
    grid-column: span 1;
  }
}

@media only screen and (max-width: 600px) {
  #main-nav > ul > li > a:first-child {
    background-color: transparent;
  }

  .dropdown-content {
    background-color: transparent;
  }

  .dropdown-content > ul > li > a {
    color: white;
  }

  #images {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    gap: 40px 0;
  }

  #big-image-div {
    padding: 1%;
    gap: 0;
  }

  #big-image {
    grid-column: 1 / 4;
    width: 95%;
    justify-self: center;
    align-self: center;
  }

  #leftArrow {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  #rightArrow {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  #leftArrow, #rightArrow {
    width: 30px;
    justify-self: center;
    align-self: center;
    cursor: pointer;
  }

  #sources {
    align-self: center;
    margin: 0 0 30px 0;
    width: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }

  #src-title {
    grid-column: span 1;
    justify-self: center;
  }

  #src-button {
    display: inline-block;
    width: fit-content;
    justify-self: center;
    padding: 8px;
  }

  #box {
    display: none;
  }
  
  #show-info {
    width: 80vw;
    justify-self: center;
    display: none;
    line-height: 1.25em;
  }

  #show-info > ul > li {
    margin: 40px 0;
  }

  #show-info > ul > li:first-child {
    margin: 0;
  }

  #show-info > ul > li:last-child {
    margin-bottom: 0;
  }
}